@use '../../../styles/abstract' as abstract;

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;

  @include abstract.media-down(md) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
